* {
    margin: 10px
}


.table-container {

    text-align: center;
}

.table {
    background-color: #382887;
    margin-left: auto;
    margin-right: auto;
}

/* A tábla elnevezéseinek színe sötétkék */
.table-thead {
    color: white;
}

/* A tábla szövege fehér legyen */
.table-tbody {
    background-color: #0278BD;
    color: white;
}

.table-tbody img {
    max-width: 100px;
}