.image-detail {
    margin: auto;
    padding: 20px;
    background-color: rgba(20, 22, 23, 0.7);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.back-button {
    display: block;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 10px 20px;
    background-color: #AAAAAA;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-start;
}

.back-button:hover {
    background-color: #D9D9D9;
    color: black;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.save-button {
    margin: 10px auto;
    min-width: 150px;
    padding: 10px 20px;
    background-color: #AAAAAA;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.save-button:hover {
    background-color: #D9D9D9;
    color: black;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.delete-button {
    margin: 10px auto;
    padding: 10px 20px;
    min-width: 150px;
    background-color: #D9D9D9;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;

}

.delete-button:hover {
    background-color: #EFEFEF;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.meta-data {
    background-color: rgba(20, 22, 23, 0.7);
    width: 90%;
    max-width: 90rem;
    /* Meta data background */
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

.meta-data strong {
    font-size: 20px;
    color: white;
}

.meta-data h2 {
    font-size: 26px;
    color: white;
}


.meta-data p {
    color: white;
    font-size: 16px;
}

.image-detail h2 {
    font-size: 26px;
    color: white;
}

.public-data textarea {
    margin-bottom: 10px;
    color: #FFFFFF;
}


.public-data h2 {
    font-size: 26px;
    color: white;
}


.public-data {
    background-color: rgba(20, 22, 23, 0.7);
    width: 90%;
    max-width: 90rem;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
}

.public-data label {
    position: relative;
    /* Állítsd a labelt relatív helyzetbe */
    display: block;
    /* Blokk elemként jelenjen meg */
    color: #FFFFFF;
    margin-bottom: 10px;
}


.public-data input[type="text"],
.public-data textarea {
    width: 50%;
    /* A 100%-os szélességet a padding miatt levonjuk */
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    /* Engedélyezi a függőleges méret változtatást */
}


.public-data textarea {
    height: 100px;
    /* Beállítjuk a textarea magasságát */
}

.public-data .input-container {
    display: block;
    /* A konténer blokk-ként jelenik meg */
}

.no-data-message {
    text-align: center;
    margin-top: 32px;
    font-size: 32px;
    color: black;


}

@media (min-width:760px) {
    .image-detail {
        max-width: 45%;
    }

}

@media (min-width: 1024px) {
    .image-detail {
        max-width: 100%;
    }
}

@media (max-width: 450px) {


    .image-detail,
    .meta-data,
    .public-data {
        font-size: 16px;
        /* Betűméret csökkentése */
    }

    .image-detail h2,
    .meta-data h2,
    .public-data h2 {
        font-size: 20px;
        /* Címek betűméretének csökkentése */
    }

    .no-data-message {
        font-size: 24px;
        /* Nincs adat üzenet betűméretének csökkentése */
    }
}